{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<nav class="navigation pagination" aria-label="{{ i18n "pagination" | default "Pagination" }}">
	<div class="nav-links">
		{{ if $paginator.HasPrev }}
		<a class="prev page-numbers" href="{{ $paginator.Prev.URL }}">
			<i class="fa fa-angle-left"></i> {{ i18n "previous" | default "Previous" }}
		</a>
		{{ end }}
		
		{{ range $paginator.Pagers }}
		{{ if eq .PageNumber $paginator.PageNumber }}
		<span aria-current="page" class="page-numbers current">{{ .PageNumber }}</span>
		{{ else }}
		<a class="page-numbers" href="{{ .URL }}">{{ .PageNumber }}</a>
		{{ end }}
		{{ end }}
		
		{{ if $paginator.HasNext }}
		<a class="next page-numbers" href="{{ $paginator.Next.URL }}">
			{{ i18n "next" | default "Next" }} <i class="fa fa-angle-right"></i>
		</a>
		{{ end }}
	</div>
</nav>
{{ end }}
