<article id="post-{{ .Permalink | md5 }}" class="post type-post {{ with .Params.classes }}{{ delimit . " " }}{{ end }}">
	<div class="card card-blog-post card-full-width card-single-article">
		{{ if and .Params.featured_image .Site.Params.showSingleFeaturedImage }}
		<figure class="card_media">
			{{ $image := .Resources.GetMatch .Params.featured_image }}
			{{ if $image }}
				<img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
			{{ else }}
				<img src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}">
			{{ end }}
		</figure>
		{{ end }}
		
		<div class="card_body">
			<div>
				{{ with .Params.categories }}
				<div class="category-label-group">
					{{ range . }}
					{{ with $.Site.GetPage "taxonomy" (printf "categories/%s" (urlize .)) }}
					<a href="{{ .RelPermalink }}" class="category-label">{{ .Title }}</a>
					{{ end }}
					{{ end }}
				</div>
				{{ end }}
				
				<h1 class="card_title">{{ .Title }}</h1>
				
				{{ if eq .Type "post" }}
				<div class="entry-meta">
					<span class="posted-on">
						<i class="fa fa-calendar"></i>
						<a href="{{ .RelPermalink }}">
							<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
								{{ .Date.Format "January 2, 2006" }}
							</time>
						</a>
					</span>
					{{ with .Params.author }}
					<span class="byline">
						<span class="author vcard">
							<i class="fa fa-user"></i>
							{{ i18n "by" | default "by" }} <a class="url fn n" href="#">{{ . }}</a>
						</span>
					</span>
					{{ end }}
				</div>
				{{ end }}
			</div>
			
			<div class="entry-content">
				{{ .Content }}
			</div>
			
			{{ if and .Site.Params.showSingleTags .Params.tags }}
			<footer class="entry-footer">
				<div class="tag-list">
					<span class="tag-label">{{ i18n "tags" | default "Tags" }}:</span>
					{{ range .Params.tags }}
					{{ with $.Site.GetPage "taxonomy" (printf "tags/%s" (urlize .)) }}
					<a href="{{ .RelPermalink }}" rel="tag">{{ .Title }}</a>
					{{ end }}
					{{ end }}
				</div>
			</footer>
			{{ end }}
			
			{{ if .Site.Params.showRelatedPosts }}
			{{ partial "related-posts.html" . }}
			{{ end }}
		</div>
	</div>
</article>
